body {
    font-family: Arial;
    background-color: #f2f2f2;
}
.container {
    width: 60%;
    margin: auto;
    background: #fff;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.gradient-heading {
    background: linear-gradient(to right, #ffd700, #f4c430, #e5b800);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}
h1 {
    text-align: center;
    color: #333;
}
input, textarea, select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
}