<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - Urban Cleaning</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<style>
  body {
    background-image: url("static/clean.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    background-color: rgba(243, 240, 240, 0.902); /* Slightly transparent card */
    border-radius: 15px;
    
  }
</style>
<body class="bg-light">
  <div class="container mt-5 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <h3 class="text-center mb-4">Sign Up</h3>
        <form method="POST">
          <div class="mb-3">
            <label>Username</label>
            <input type="text" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label>Phone Number</label>
            <input type="text" name="phone" class="form-control" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-success w-100">Register</button>
          </div>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning mt-3">{{ messages[0] }}</div>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</body>
</html>
